/* .loveButton {

}

.commentButton {

}

.shareButton {

} */
.delteButton{
    background-color: red;
}

/* .sendCommentButton {

} */

.loveButton:hover {
    cursor: pointer;
}

.commentButton:hover {
    cursor: pointer;
}

.shareButton:hover {
    cursor: pointer;
}

.sendCommentButton:hover {
    cursor: pointer;
}
.deleteButton:hover{
    cursor: pointer;
}